* {
  box-sizing: border-box;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.4);
}

.card {
  background: rgb(188, 198, 204);
  box-shadow: 0 0 50px rgba(188, 198, 204, 0.4);
  border-radius: 10px;
  padding: 20px;
}

.modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
}

.header {
  margin-bottom: 20px;
  text-align: center;
}

.headerText {
  font-size: 40px;
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.statContainer {
  display: flex;
  flex-direction: column;
}

.stats {
  position: relative;
}

.statQuantum {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: cyan; */
}

.statName {
  font-size: 14px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  margin-top: 20px;
  text-align: center;
}

.footer button {
  cursor: pointer;
  border-radius: 20px;
  border: none;

  background-color: rgb(8, 11, 92);
  color: #fff;

  padding: 5px 30px;

  font-size: 24px;
}

.footer button:hover {
  background-color: rgba(8, 11, 92, 0.6);
}
