body {
  position: relative;
  background-color: aqua;
}

/* .splash {
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #3d7dca;
} */

div {
  border: 1px solid red;
}

.display-area a {
  text-decoration: none;
}

.display-area a:link,
.display-area a:visited {
  color: inherit;
}

.splash img {
  width: 70%;
}
