body {
  position: relative;
  background-color: aqua;
}

/* .splash {
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #3d7dca;
} */

div {
  border: 1px solid red;
}

.splash img {
  width: 70%;
}
